@font-face {
  font-family: 'Nothing You Could Do', cursive;
  font-style: normal;
  font-weight: 100%;
}
body {
  background-color: #333333;
  background-image: url('https://alekay96.github.io/myszka/plakaty-diament-serce-na-czarnym-tle-milosc-walentynki.jpg');
  background-size: contain;
  width: 99%;
  height: 99%;
}
.shuffle_text {
  display: none;
  padding: 5% 10%;
  color: #FE0101;
  font-family: 'Nothing You Could Do', cursive;
  font-size: 70px;
}
