@font-face {
  font-family: 'Nothing You Could Do', cursive;
  font-style: normal;
  font-weight: 100%;
}
body {
  background-color: #333333;
 background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Drawn_love_hearts.svg/1200px-Drawn_love_hearts.svg.png');
  background-size: contain;
  float:left;
  object-fit:cover;
}
.shuffle_text {
  display: none;
  padding: 5% 10%;
  color: black;
  font-family: 'Nothing You Could Do', cursive;
  font-size: 70px;
}
